# top-most EditorConfig file
root = true

# Unix-style newlines with a trailing newline
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with different extensions
[*.{cs}]
formatter = csharpier
indent_size = 4
